<h1>All Breweries</h1>

<ul>
	<% @breweries.each do |brewery| %>
		<li><a href="#" data="<%= brewery.db_id %>"><%= brewery.name %></a></li>
	<% end %>
</ul>

<div id="loader" style="margin: 50px auto;width:100px;display:none;">
	<%= image_tag "ajax-loader.gif" %>
</div>

<table id="structure" border="1">
</table>

<p id="json" style="display:none;"></p>